body {
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

.container-fluid {
    padding: 0;
}

/* .row {
    margin: 0;
} */

/* [class^="col"] {
    padding: 0;
} */

.scroll-img {
    object-fit: cover;
    height: 100vh;
}

.aamir {
    margin: 20px auto;
    width: 130px;
    height: auto;
}

/* .login-margin{
    margin: 120px auto;
} */


.login-form {
    width: 400px;
    max-width: 100%;
}

.login-form .form-control {
    font-size: 16px;
    padding: 12px 20px;
    box-shadow: 0.97px 0.26px 3px #0000000D;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    max-width: 100%;
}

.login-form .form-control:focus {
    box-shadow: 0px 0px 10px rgba(43, 100, 177, 1);
    border: 1px solid #2B64B1;
}

.login-btn {
    margin: 6px 0 16px;
    font-size: 16px;
    color: #F88634;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #ff9447;
    border-radius: 24px;
}

a {
    color: #414141;
    text-decoration: none;
}

.create-account {
    color: #2B64B1;
    text-decoration: none;
}


.forgot-heading {
    font-weight: 400;
    font-size: 22px;
}

.text-block {
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: 10%;
    color: #ffffff;
    line-height: 2;
}

.block-header {
    font-size: 43px;
    line-height: 50px;
    letter-spacing: 0;
    width: 600px;
    max-width: 100%;
    font-weight: 400;
}

.block-note {
    line-height: 28px;
    font-weight: 200;
}

.small-txt {
    color: #414141;
    line-height: 17px;
    font-size: 14px;
}


/* Missions */

.bg-light {
    background-color: #ffffff !important;
    border: 0;
}

.profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.search-bar {
    border: 0;
    width: 50%;
}

.filter-dropdown {
    padding: 20px 0;
    border-radius: 0;
    width: 25%;
    border-left: 1px #E8E8E8 solid;
    border-right: 1px #E8E8E8 solid;
}

.dropdown-menu {
    max-height: 150px;
    overflow: auto;
    border-radius: 0;
    border: 0;
    box-shadow: 0px 0px 25px #0000000F;
}

.dropdown-item {
    font-size: 14px;
    color: #414141;
}

.dropdown-item:hover {
    background-color: #DDDDDD;
}

.left {
    float: left;
    overflow: hidden;
}

.right {
    float: right;
    overflow: hidden;
}



/* missions-content */
z
.shadow {
    margin: 20px 0;
    /* height: 600px; */
    /* width: 400px; */
    border: 0;
    box-shadow: 0px 0px 25px #0000000F;
}

.tags {
    color: white;
}

.badge-1{
    position: relative;
    top: -20px;
    font-size: 14px;
    font-weight: 400;
    z-index: 10000;
    color: #414141;
    width: fit-content;
    background-color: #ffffff;
}

.badge-2{
    position: relative;
    top: 30px;
    font-size: 14px;
    font-weight: 400;
    z-index: 10000;
    color: #414141;
    width: fit-content;
    background-color: #ffffff;
    border: 1px solid #E8E8E8;
}

.minus-margin{
    margin: -20px auto;
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */


/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {}


/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .scroll-img {
        height: auto;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .search-bar {
        width: 35%;
    }
}


/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .search-bar {
        width: 75%;
    }

    .filter-dropdown {
        padding: 0 24px;
        /* border-radius: 0; */
        width: 100%;
        /* min-width: 100%; */
        border: 0px;
    }

    .block-header {
        font-size: 28px;
        line-height: 1;
    }

    .form-control {
        font-size: 14px;
        padding: 10px 16px;
    }

    .login-btn {
        font-size: 14px;
    }
}